.vininfo {
    margin-top: 70px;
}

.vininfo__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.vininfo__string:not(:last-child) {
    margin-bottom: 10px;
}

.vininfo__string span {
    font-weight: 700;
}
