.lastvins {
    margin-top: 30px;
}

.lastvins__title {
    font-weight: 700;
    margin-bottom: 10px;
}

.lastvins__item {
    cursor: pointer;
}

.lastvins__item:last-child {
    margin-bottom: 30px;
}

.lastvins__item:hover {
    text-decoration: underline;
}

.lastvins__item:not(:last-child) {
    margin-bottom: 5px;
}
