.header {
    padding: 20px 0;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-weight: 700;
}

.header__links {
    display: flex;
    gap: 30px;
}
